@page
@model presentation.Pages.Submissions.IndexModel

@{
    ViewBag.Title = "Submission";
}

<h3>Submissions</h3>
<th:div asp-validation-summary="All"></th:div>
<div>
    <span>Your submissions</span>
    <table class="table">
        @foreach (var submission in Model.Submissions)
        {
            <tr>
                <td>
                    @submission.Name
                </td>
                <td>
                    @submission.TaskName
                </td>
                <td>
                    @submission.SubmittedOn
                </td>
            </tr>
        }
    </table>
</div>
