@page

@{
    ViewData["Title"] = "Submitted";
}

<h4>Success</h4>
<p>Your submission was successfuly uploaded to server.</p>
<p>You can now go to your <th:a asp-page="./Index">submissions</th:a>, to run some tests.</p>
