apiVersion: apps/v1
kind: Deployment
metadata:
  name: apc-presentation
  namespace: apc
  labels:
    app: presentation
    category: frontend
spec:
  selector:
    matchLabels:
      app: presentation
  revisionHistoryLimit: 2
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: presentation
        category: frontend
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: presentation-pod
          image:
            {{- required "Docker repo required" .Values.dockerRepository | indent 1 -}}
             /services/presentation:
            {{- .Values.releaseLabel }}
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            requests:
              memory: 256M
              cpu: 100mi
            limits:
              memory: 1G
              cpu: 500mi
          env:
            - name: GoogleOid__ClientId
              valueFrom:
                secretKeyRef:
                  key: googleId
                  name: general-secrets
            - name: GoogleOid__ClientSecret
              valueFrom:
                secretKeyRef:
                  key: googleSecret
                  name: general-secrets
            - name: USER_SERVICE
              value: http://userservice-service.apc
            - name: SUBMISSION_SERVICE
              value: http://submissionsservice-service.apc
            - name: TEST_SERVICE
              value: http://testservice-service.apc
