apiVersion: apps/v1
kind: Deployment
metadata:
  name: apc-testservice
  namespace: apc
  labels:
    app: testservice
    category: frontend
spec:
  selector:
    matchLabels:
      app: testservice
  revisionHistoryLimit: 2
  replicas: 2
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: testservice
        category: backend
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: testservice-pod
          image:
            {{- required "Docker repo required" .Values.dockerRepository | indent 1 -}}
             /services/testservice:
            {{- .Values.releaseLabel }}
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            requests:
              memory: 256M
              cpu: '0.5'
            limits:
              memory: 1G
              cpu: '1'
          env:
            - name: COSMOS_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  key: cosmosConnectionString
                  name: general-secrets
            - name: COSMOS_DB_NAME
              value: devel
