apiVersion: apps/v1
kind: Deployment
metadata:
  name: apc-testservice
  namespace: apc
  labels:
    app: testservice
    category: frontend
spec:
  selector:
    matchLabels:
      app: testservice
  revisionHistoryLimit: 2
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: testservice
        category: backend
    spec:
      imagePullSecrets:
        - name: container-registry
      containers:
        - name: testservice-pod
          image:
            {{- required "Docker repo required" .Values.dockerRepository | indent 1 -}}
             /services/testservice:
            {{- .Values.releaseLabel }}
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            requests:
              memory: 256M
              cpu: 100m
            limits:
              memory: 1G
              cpu: 300m
          livenessProbe:
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 11
            timeoutSeconds: 10
            httpGet:
              path: /healthcheck
              port: 80
              scheme: HTTP
          env:
            - name: MongoDB__ConnectionString
              valueFrom:
                secretKeyRef:
                  name: mongo-secrets
                  key: connectionString
                  optional: false
            - name: MongoDB__DatabaseName
              value: testsDb
            - name: MQ_URI
              value: amqp://rabbitmq-cluster.apc/
            - name: TEST_REQUESTS_QUEUE
              value:  {{ required "Request queue not defined" .Values.testRequestQueue }}
            - name: TEST_RESULTS_QUEUE
              value: {{ required "Test output queue missing" .Values.testResultsQueue }}
            - name: BLOB_STORAGE_CONNECTION
              valueFrom:
                secretKeyRef:
                  key: blobConnectionString
                  name: general-secrets
