# This is used for dev purposes only
services:
    submissions.local:
        build:
            context: ./submissions
            target: dev
        volumes:
            - ./submissions/Controllers:/src/Controllers
            - ./submissions/Data:/src/Data
            - ./submissions/Models:/src/Models
            - ./submissions/Services:/src/Services
            - ./submissions/Startup.cs:/src/Startup.cs
        ports:
            - 8081:5004
        networks:
            - sharednet
        environment:
            DOTNET_USE_POLLING_FILE_WATCHER: 1
            DOTNET_WATCH_SUPPRESS_MSBUILD_INCREMENTALISM: 1
            DOTNET_WATCH_SUPPRESS_LAUNCH_BROWSER: 1
            DOTNET_WATCH_SUPPRESS_BROWSER_REFRESH: 1
        deploy:
            restart_policy:
                delay: 10s
                max_attempts: 20
                window: 8s # We have some start-up time

    presentation.local:
        build:
            context: ./presentation
            target: dev
        volumes:
            - ./presentation/:/src
        networks:
            - sharednet
        ports:
            - 8080:8080
        environment:
            DOTNET_USE_POLLING_FILE_WATCHER: 1
            DOTNET_WATCH_SUPPRESS_MSBUILD_INCREMENTALISM: 1
            DOTNET_WATCH_SUPPRESS_LAUNCH_BROWSER: 1
            DOTNET_WATCH_SUPPRESS_BROWSER_REFRESH: 1
        deploy:
            restart_policy:
                max_attempts: 20
                window: 8s # We have some start-up time
    azurite.local:
        image: mcr.microsoft.com/azure-storage/azurite:3.14.0
        volumes:
            - azurite_data:/data
        ports:
            - 10000:10000
        command:
            - azurite-blob
            - "--blobHost"
            - 0.0.0.0
        networks:
            - sharednet
        environment:
            AZURITE_ACCOUNTS: azuriteuser:UGFzc3dvcmQxMjMhfg==
# Connection string:
# DefaultEndpointsProtocol=http;AccountName=azuriteuser;AccountKey=UGFzc3dvcmQxMjMhfg==;BlobEndpoint=http://localhost:10000/azuriteuser;

networks:
    sharednet: {}
volumes:
    azurite_data: {}
