[Unit]
Description=Apply iptables-nft ipv4 config
Wants=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/iptables-nft4-up.sh

[Install]
RequiredBy=multi-user.target
