@page
@model presentation.Pages.Tasks.CreateModel
@{
}


<h3>Create new task</h3>
@if (!ModelState.IsValid)
{
    <h4>Error</h4>
    <p>Please fix following errors and resubmit</p>
    <th:div asp-validation-summary="All"></th:div>
}
<th:form method="post">
    
    <table class="table">
        <tr>
            <td>
                <th:label asp-for="NewTask.Name">Task name*</th:label>
            </td>
            <td>
                <th:input asp-for="NewTask.Name" />
                <th:span asp-validation-for="NewTask.Name"></th:span>
            </td>
        </tr>

        <tr>
            <td>
                <th:label asp-for="NewTask.Description">Description (accepts <strong>HTML</strong>!)*</th:label>
            </td>
            <td>
                <th:textarea class="form-control" asp-for="NewTask.Description"></th:textarea>
                <th:span asp-validation-for="NewTask.Description"></th:span>
            </td>
        </tr>

        <tr>
            <td>
                <th:label asp-for="NewTask.Ends">Deadline (DateTime)*</th:label>
            </td>
            <td>
                <th:input asp-for="NewTask.Ends" />
                <th:span asp-validation-for="NewTask.Ends"></th:span>
            </td>
        </tr>

        <tr>
            <td>
                <th:label asp-for="NewTask.ClaimName"></th:label>
            </td>
            <td>
                <th:input asp-for="NewTask.ClaimName" />
                <th:span asp-validation-for="NewTask.ClaimName"></th:span>
            </td>
        </tr>
        <tr>
            <td>
                <th:label asp-for="NewTask.ClaimValue"></th:label>
            </td>
            <td>
                <th:input asp-for="NewTask.ClaimValue" />
                <th:span asp-validation-for="NewTask.ClaimValue"></th:span>
            </td>
        </tr>
        <tr>
            <td>
                <th:label asp-for="NewTask.RequiredIp"></th:label>
            </td>
            <td>
                <th:input asp-for="NewTask.RequiredIp" />
                <th:span asp-validation-for="NewTask.RequiredIp"></th:span>
            </td>
        </tr>


    </table>
    <input type="submit" class="btn btn-primary" />
</th:form>

