@page
@model presentation.Pages.Tasks.IndexModel
@{
}


<div>
    <h3>Available tasks</h3>
    <ul>
        <li>Week 1</li>
        <li>Week 2 (deadline 22.4.2040)</li>
    </ul>
</div>

<div>
    <p>If you are admin TODO</p>
    <p><th:a asp-page="/Tasks/Create">Create new task</th:a></p>
</div>

