@page
@model presentation.Pages.Tasks.IndexModel
@{
}


<div>
    <h3>Available tasks</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Deadline</th>
        </tr>
        <th:div asp-validation-summary="All"></th:div>
        @foreach (var task in Model.TaskList)
        {
            <tr>
                <td>
                    <th:a asp-page="/Tasks/Detail" asp-route-id="@task.Id">@task.Name</th:a>
                </td>
                <td>
                    @task.Ends
                </td>
            </tr>
        }

    </table>

</div>

@if (Model.IsAdmin)
{
    <div>
        <p><th:a asp-page="/Tasks/Create">Create new task</th:a></p>
    </div>
}


