<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | CppSeminar</title>
</head>
<body>
    <header>
        <ul>
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-page="/Submissions/Index" >Submissions</a></li>
            <li>Tests</li>
        </ul>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
