<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewBag.Title | CppSeminar </title>
</head>
<body>
    <header>
        <div>
            <ul>
                <li><th:a asp-page="/Index">Home</th:a></li>
                <li><th:a asp-page="/Submissions/Index">Submissions</th:a></li>
            </ul>
        </div>
        <div>
            <th:partial name="_UserPanel.cshtml"/>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
