<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewBag.Title | CppSeminar </title>
</head>
<body>
    <header>
        <ul>
            <li><th:a asp-page="/Index">Home</th:a></li>
            <li><th:a asp-page="/Submissions/Index" >Submissions</th:a></li>
            <li>Tests</li>
        </ul>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
