@using presentation.Services;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> @ViewBag.Title CppSeminar </title>
</head>
<body>
    <header>
        <div class="container">
            <h2 class="display-5">CppSeminar (APC)</h2>
        </div>
        <div class="container">
            <th:partial name="_UserPanel.cshtml" />
        </div>
        <div class="container">
            <nav class="navbar navbar-default navbar-light bg-light">
                <div class="navbar-header">
                    <ul class="nav">
                        <li class="nav-item"><th:a asp-page="/Index" class="nav-link">Home</th:a></li>
                        <li class="nav-item"><th:a asp-page="/Tasks/Index" class="nav-link">Tasks</th:a></li>
                        <li class="nav-item"><th:a asp-page="/Submissions/Index" class="nav-link">Your Submissions</th:a></li>
                        @if (User.IsAdmin())
                        {
                            <li class="nav-item"><th:a asp-page="/Users/Index" class="nav-link">Users</th:a></li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container p-3">
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
