@using System.Security.Claims; 

@if(Context.User.Identity.IsAuthenticated)
{
<p class="text-center">
    <span>@User.Identity.Name</span>
    <span>@User.FindFirst(claim => claim.Type == ClaimTypes.Email).Value</span>
</p>
}
else
{
<p class="text-center">
    <span>Not signed in</span>
</p>
}
