@page
@model presentation.Pages.Tests.LimitModel

<p>Unfortunately, you cannot run anymore of that kind of test. It may be after deadline, or you just tried too many times.</p>
<p>It may still be possible to submit new solution (without running tests on it).</p>
