@page
@model presentation.Pages.Tests.SuccessModel

<p>Your test request was sent. It will take some time to run all tests.</p>
<p>In few minutes you can go to <th:a asp-page="/Submissions/Index">submissions</th:a> and find test results under your submission.</p>
