@page
@model presentation.Pages.IndexModel
@{
    ViewBag.Title = "Home";
}

<h4>Welcome</h4>
<p>Here are some links that may be useful to you:</p>
<ul>
    <li>Our docs page</li>
    <li>C++ ISO Standard</li>
</ul>
