@page
@model presentation.Pages.IndexModel
@{
    ViewBag.Title = "Home";
}

<h4>Welcome</h4>
<p>Here are some links that may be useful to you:</p>
<ul>
    <li><a href="https://eel.is/c++draft/">C++ ISO Standard</a></li>
    <li><a href="https://en.cppreference.com/w/">C++ reference</a></li>
</ul>

<p>Cppseminar requires all users to have google account.</p>
<h5>STU students</h5>
<p>Sign in to google with your stuba email, this should redirect you to your school sign in page.</p>
<h5>UNIBA students</h5>
<p>Use your personal gmail accounts. Your accounts must be activated first, so let your teachers know, which account you will be using.</p>
