[Unit]
Description=Tester for assignments from APC portal
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=True

WorkingDirectory=/root/APC/services
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
