[Unit]
Description=Log forwarder port to log device
[Service]
Type=exec
ExecStart=/usr/bin/socat -u TCP-LISTEN:{{ syslog_tcp_port }},bind=127.0.0.1,reuseaddr,fork,range=127.0.0.0/8 UNIX-CLIENT:/dev/log
ProtectSystem=strict
ProtectHome=yes
StandardOutput=null
[Install]
WantedBy = default.target
