journalbeat.inputs:
- paths: []
  include_matches: ["_SYSTEMD_UNIT=queued.service"]
  seek: cursor
  id: "queued-id"


- paths: []
  include_matches: ["SYSLOG_IDENTIFIER=azureuser"]
  seek: cursor
  id: "debug"

name: "Journalbeat machine"

tags: ["tag1"]

output.logstash:
  hosts: ["{{ groups['server'][0] }}:{{ logstash_tcp_port }}"]

processors:
  - add_fields:
      fields:
        project: APC
        environment: {{ journal_environment }}
        source: journal
  # - add_host_metadata: ~


