@page
@using System.Security.Claims
@model presentation.Pages.Connection.IndexModel
@{
}


@section JavaScript
{
   <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
   @if(User.Identity.IsAuthenticated)
    {
   <script type="text/javascript">
    const userEmail = "@User.FindFirst(claim => claim.Type == ClaimTypes.Email).Value";
    </script>
    <script type="text/javascript" src="@Url.Content("~/js/connection_logging.js")"></script>
    }
   
}

<div>
    <h3>Connection checker</h3>
    <p>This page is used to check whether the student is still connected to our network.</p>
    <a onclick="invokeSendMessage()">Send message<a>
</div>
<div id="errorMessages">
    </div>

