@page
@model presentation.Pages.Connection.IndexModel
@{
}


@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("~/js/script.js")"></script>
}

<div>
    <h3>Connection checker</h3>
    <p>This page is used to check whether the student is still connected to our network.</p>
</div>

