name: Publish new api

on:
  push:
    branches: [ master ]

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Publish functions
      uses: Azure/functions-action@v1.1.4
      with:
        # Name of the Azure Function App
        app-name: cppseminar-manduch-api
        # Path to package or folder. *.zip or a folder to deploy
        package: functions/
        # Publish profile (*.publishsettings) file contents with web deploy secrets
        publish-profile: ${{ secrets.MANDUCH_FUNCTION }}